{% extends 'base.html.twig' %}

{% block title %}
	Mon panier

{% endblock %}


{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1 class="mt-4">List de Panier</h1>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Produit</th>
							<th>Prix</th>
							<th>Quantité</th>
							<th>Total</th>
							{# pour +1 / -1 / supprimer #}
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for element in data %}
							<tr>
								<td class="w-25 h-25"><img src="{{ vich_uploader_asset(element.product, 'image')}}" alt="product.name"></td>
								<td>{{ element.product.name}}</td>
								<td>{{ element.product.price}}
									€</td>
								<td>
									<a href="{{path('app.orders.add', {id: element.product.id})}}" class="btn btn-success me-2">+</a>
									{{ element.quantity }}
									<a href="{{path('app.orders.remove', {id: element.product.id})}}" class="btn btn-warning ms-2">-</a>
								</td>

								<td>{{ element.quantity * element.product.price}}
									€</td>
								<td>
									<a href="{{path('app.orders.delete', {id: element.product.id})}}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Votre panier est vide</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">Total</td>
							<td>{{ total }}
								€</td>
							<td>
								<a href="{{path('app.orders.empty')}}" class="btn btn-danger">Vider</a>
							</td>

						</tr>
					</tfoot>
				</thead>
			</table>
			<a href="{{path('app.orders.payorder')}}" class="btn btn-primary ">Valider le panier</a>
		</div>

	</section>
</main>{% endblock %}
