{# templates/order/show_order.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la commande
{% endblock %}

{% block body %}
	<div class="card text-center">
		<div class="card-header">
			Détails de la commande
		</div>
		<div class="card-body">

			<img src="{{ vich_uploader_asset(panierItem.product, 'image')}}" alt="panierItem.product.name" class="img-thumbnail w-50 p-3 ">


			<h5 class="card-title">Produit :
				{{ panierItem.product.name }}</h5>
			<p class="card-text">Prix :
				{{ panierItem.price|number_format(2, ',', '.') }}</p>
			<a href="{{ path('app.orders.commands') }}" class="btn btn-primary ">Retour à la liste des commandes</a>
		</div>
		<div class="card-footer text-body-secondary">
			{{ panierItem.createdAt|format_datetime('full', 'none') }}
		</div>
	</div>


{% endblock %}
